<div> 
   {{#with make}}
      <h1><center>{{> title data="Toyota Camry" big=true}}</center></h1>
      <hr>
      <h2><center><p>2022 / SILVER</p></center></h2>
   {{/with}}

   <table class="table" <caption><center>FEATURES / INTERIOR</center></caption>>

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Seats/Material</th>
      <th scope="col">Seats/Color</th>
      <th scope="col">Heated/Ventilated</th>       
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row"></th>
      <td>Leather</td>
      <td>Black</td>
      <td>Yes</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><b>Dashboard/Material</b></td>
      <td><b>Color</b></td>
      <td><b>Display</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Plastic</td>
      <td>Black</td>
      <td>LCD(10.1/1280x720/touchscreen)</td>
      <td></td>
      <td></td>  
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><b>Audio system</b></td>
      <td><b>Speakers</b></td>
      <td><b>Subwoofer</b></td>
      <td><b>Bluetooth/USB</b></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>JBL</td>
      <td>8</td>
      <td>Yes</td>
      <td>Yes</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><b>Exterior/Wheels</b></td>
      <td><b>Headlights</b></td>
      <td><b>Sunroof</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>18(size)/alloy/silver</td>
      <td>LED/brightness:high/automatic</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><b>Safety/airbags</b></td>
      <td><b></b></td>
      <td><b>Assistance</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>front: 2, side: 2, knee: 2, rear: 2</td>
      <td></td>
      <td>blind_spot_monitoring,
          rear_cross_traffic_alert,
          lane_departure_warning,
          adaptive_cruise_control,
          collision_warning</td>
          <td></td>
         <td></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td><b>Engine type</b></td>
      <td><b>Displacement</b></td>
      <td><b>Horsepower</b></td>
      <td><b>Torque</b></td>
      <td><b>Transmission</b></td>
      <td></td> 
    </tr>
    <tr>
      <th scope="row"></th>
      <td>gasoline</td>
      <td>2.5</td>
      <td>206</td>
      <td>186</td>
      <td>automatic/8(type)</td> 
    </tr>
    <tr>
      <th scope="row">8</th>
      <td><b>Fuel economy/city</b></td>
      <td><b>Highway</b></td>
      <td><b>Combined</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>28</td>
      <td>39</td>
      <td>32</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td><b>Price base</b></td>
      <td><b>Destination</b></td>
      <td><b>Navigation</b></td>
      <td><b>Moonroof</b></td>
      <td><b>Premium paint</b></td>
      <td></td> 
    </tr>
    <tr>
      <th scope="row"></th>
      <td>25900 $</td>
      <td>995 $</td>
      <td>1200 $</td>
      <td>800 $</td>
      <td>595 $</td>
    </tr>
      <caption><b>total: 28990 $</b></caption>  
  </tbody>
  </table>   
</div> 