{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<div class="container">
<div class="row">
     <div class="card mb-2">
                <div class="card-body">
                    <b>Yuliya Soltysyuk</b>
                </div>
            </div>
    <h1 class="mb-4 text-center">Resume progect</h1>  
    <div class="col-12 gy-2">   
        <div class="my-5">
             <div class="card">   
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/summary"role="button">Summary</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/skills"role="button">Skills</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/education"role="button">Education</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/work"role="button">Work</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/person"role="button">Person</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/bio"role="button">Bio</a> 
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/program"role="button">Program</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/web"role="button">Web</a>  
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/js"role="button">JS</a> 
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/car"role="button">Car</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/mac"role="button">mac</a> 
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/facebook"role="button">facebook</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/task21"role="button">task21</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/task22"role="button">task22</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/task31"role="button">task31</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/shophome"role="button">shophome</a> 
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/shopproduct"role="button">shopproduct</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/shopnews"role="button">shopnews</a>  
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/shoporder"role="button">shoporder</a> 
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/shopcart"role="button">shopcart</a>
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/shopprofile"role="button">shopprofile</a> 
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/shopreview"role="button">shopreview</a>     
                <a class="btn btn-primary btn-lg text-center text-uppercase mb-4" href="http://localhost:3000/shopcatalog"role="button">shopcatalog</a> 
            </div>       
        </div>
    </div>
</div>
</div>
  
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}