<div> 
   {{#with name}}
      <h1><center>{{> title data="JavaScript" big=true}}</center></h1>
      <hr>
      <h2><p>`JavaScript is a popular high-level, dynamic, and interpreted programming language.`</p></h2>
   {{/with}}
       <hr>
      <div>
         <h2><center>Java Script History</center></h2>
         <table>
            <br>
            <table border ="1">
               <colgroup>
                <colspan="7">
               </colgroup>
               
               <tr>
                  <th>Types</th>
                  <th>Syntax</th>
                  <th>Features</th>
                  <th>Libraries</th>
                  <th>Tools<th>
                  <th>Community name</th>
                  <th>Community type</th>
               </tr> 
               

               <tr>
                  <th>Number</th>
                  <th>variables:['var', 'let', 'const']</th>
                  <th>First-class functions</th>
                  <th>jQuery</th>
                  <th>Babel<th>
                  <th> 'Stack Overflow',
		            <th>type: 'forum'</th>
               </tr> 

               <tr>
                  <th>String</th>
                  <th>functions: ['function']</th>
                  <th>Closures</th>
                  <th>React</th>
                  <th>Webpack<th>
                  <th>JavaScript Weekly</th>
		            <th>newsletter</th>
               </tr>  

               <tr>
                  <th>Boolean</th>
                  <th>conditionals: ['if', 'else', 'switch']</th>
                  <th>Dynamic typing</th>
                  <th>Angular</th>
                  <th>ESLint<th>
                  <th>The Changelog</th>
		            <th>podcast</th>
               </tr> 

               <tr>
                  <th>Null</th>
                  <th>loops: ['for', 'while', 'do-while']</th>
                  <th>Prototype-based inheritance</th>
                  <th>Vue</th>
                  <th>Jest<th>
                  <th>CSS-Tricks</th>
		            <th>blog</th>
               </tr> 

                <tr>
                  <th>Undefined</th>
                  <th>classes: ['class']</th>
                  <th>Asynchronous programming with Promises and async/await</th>
                  <th>Node.js</th>
                  <th>Mocha<th>
                  <th></th>
		            <th></th>
               </tr>  

                <tr>
                  <th>Symbol</th>
                  <th></th>
                  <th>Modules with import/export statements</th>
                  <th>Express.js</th>
                  <th>Chai<th>
                  <th></th>
		            <th></th>
               </tr>   

               <tr>
                  <th>Object</th>
                  <th></th>
                  <th></th>
                  <th>Lodash</th>
                  <th>Selenium<th>
                  <th></th>
		            <th></th>
               </tr> 

                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Moment.js</th>
                  <th>Cypress<th>
                  <th></th>
		            <th></th>
               </tr>    
         </table>
      </div>   
</div>        

         
           